In [10]:
import pandas as pd
from sodapy import Socrata
import os

In [11]:
output_relative_dir = '../data/landing/subway_data'
if not os.path.exists(output_relative_dir):
    os.makedirs(output_relative_dir)

In [12]:
client = Socrata("data.ny.gov", None)

results = client.get("39hk-dx4f",)
results_df = pd.DataFrame.from_records(results)
results_df.to_parquet(f"{output_relative_dir}/set1.parquet", index=False)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [13]:
results_df.head()

,gtfs_stop_id,station_id,complex_id,division,line,stop_name,borough,cbd,daytime_routes,structure,...,north_direction_label,south_direction_label,ada,ada_northbound,ada_southbound,georeference,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc,:@computed_region_kjdx_g34t,ada_notes
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,FALSE,N W,Elevated,...,Last Stop,Manhattan,0,0,0,"{'type': 'Point', 'coordinates': [-73.912034, ...",196,877,2137,NaN
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,FALSE,N W,Elevated,...,Astoria,Manhattan,1,1,1,"{'type': 'Point', 'coordinates': [-73.917843, ...",196,874,2137,NaN
2,R04,3,3,BMT,Astoria,30 Av,Q,FALSE,N W,Elevated,...,Astoria,Manhattan,0,0,0,"{'type': 'Point', 'coordinates': [-73.921479, ...",196,874,2137,NaN
3,R05,4,4,BMT,Astoria,Broadway,Q,FALSE,N W,Elevated,...,Astoria,Manhattan,0,0,0,"{'type': 'Point', 'coordinates': [-73.925508, ...",196,878,2137,NaN
4,R06,5,5,BMT,Astoria,36 Av,Q,FALSE,N W,Elevated,...,Astoria,Manhattan,0,0,0,"{'type': 'Point', 'coordinates': [-73.929575, ...",196,878,2137,NaN